<mat-toolbar color="primary">
  <span style="margin: auto">Conway's Game of Life</span>
</mat-toolbar>

<div class="info">
  <button class="restart" mat-stroked-button color="primary" (click)="onClickRestart()">Restart</button>
  <button  class="pause" mat-stroked-button color="primary" (click)="onClickPausa()">Pausa/Riprendi</button>
</div>

<div class="game">
  <div class="row" *ngFor="let row of numRows | numToArray">
    <div class="col" *ngFor="let col of numCols | numToArray">
      <button (click)="onClick(row,col)" [ngClass]="{alive: board.status(row,col) === 1}"></button>
    </div>
  </div>
</div>